# Noisy Notes - Enviroments

## Database Information

DATABASE_URL="postgres://postgres@localhost:5432/noisy_notes?sslmode=disable"

## Redis Information

REDIS_URL="redis://localhost:6379"
REDIS_CLIENTNAME=""
REDIS_PASSWORD=""

## Google Cloud Information

GOOGLE_APPLICATION_CREDENTIALS_JSON=""
